<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hibernate.hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>  
        <property name="connection.url">jdbc:postgresql://localhost:5432/Spring08</property>  
        <property name="connection.username">postgres</property>  
        <property name="connection.password">JAVAtechnology</property>  
        <property name="connection.driver_class">org.postgresql.Driver</property>  
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.default_schema">hibernate</property>
        <mapping resource="Message.hbm.xml"/>  
    </session-factory>  
  
</hibernate-configuration> 